<div style="text-align:center">
    <a href="https://www.facebook.com/">
        <img src="~/images/600px-Facebook_logo.png" alt="Facebook Logo Link" style="height: 50px;" />
    </a>
    <a href="https://twitter.com/">
        <img src="~/images/Twitter_bird_logo.png" alt="Twitter Logo Link" style="height: 50px;" />
    </a>
    <a href="https://github.com/">
        <img src="~/images/Github_Logo.png" alt="Github Logo Link" style="height: 50px;" />
    </a>
</div>